@tailwind base;
@tailwind components;
@tailwind utilities;
header {
  position: fixed;
  width: 100%;
  z-index: 10;
}

main {
  margin-top: 4rem;
}
main {
  background-image: url('img/default.jpg')
  background-size: cover;
  background-position: center;
  transition: background-image 0.5s ease;
  min-height: 100vh;
}

